/*
<ul>
        <li>项目一</li>
        <li class="special">项目二</li>
        <li>项目 <em>三</em></li>
      </ul>
*/


li.special,
span.special {
  color: orange;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

/*在 HTML 文档中设置直接出现在标题后面并且与标题具有相同层级的段落样式，
  为此需在两个选择器之间添加一个 + 号 (成为 相邻选择符)*/
h1 + p {
  font-size: 200%;
}

/*下面的 CSS 代码使得没有被访问的链接颜色变为粉色、访问过的链接变为绿色。*/
a:link {
  color: pink;
}

a:visited {
  color: green;
}

/*你可以改变链接被鼠标悬停的时候的样式，例如移除下划线，下面的代码就实现了这个功能。*/
a:hover {
  text-decoration: none;
}

/* selects any <span> that is inside a <p>, which is inside an <article>  */
article p span { ... }

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p { ... }

/*上面的代码为以下元素建立样式：在 <body> 之内，紧接在 <h1> 后面的 <p> 元素的内部，类名为 special。*/
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

/* 在像 padding 和 margin 这样的 4 值简写语法中，
   数值的应用顺序是上、右、下、左（从顶部顺时针方向）。
   也有其他的简写类型，例如 2 值简写，
   它为顶部/底部设置 padding/margin，然后是左侧/右侧 */
padding: 10px 15px 15px 5px;
/*与这四行代码是等价的：*/
padding-top: 10px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 5px;

/*这一行代码：*/
background: red url(bg-graphic.png) 10px 10px repeat-x fixed;
/*与这五行代码是等价的：*/
background-color: red;
background-image: url(bg-graphic.png);
background-position: 10px 10px;
background-repeat: repeat-x;
background-attachment: fixed;



             
/* font */
{font-family:Helvetica, Arial, sans-serif;
font-size:10px;
font-style :italic;
font-weight:lighter;
font-transform:capitalize;
font-decoration: line-through red wavy;
text-shadow: -1px -1px 1px #aaa,
  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);
text-align:center;
line-height: 1.5;
}

p::first-line {
  letter-spacing: 2px;
  word-spacing: 4px;
}
                
Font 样式：
font-variant: 在小型大写字母和普通文本选项之间切换。
font-kerning: 开启或关闭字体间距选项。
font-feature-settings: 开启或关闭不同的 OpenType 字体特性。
font-variant-alternates: 控制给定的自定义字体的替代字形的使用。
font-variant-caps: 控制大写字母替代字形的使用。
font-variant-east-asian (en-US): 控制东亚文字替代字形的使用，像日语和汉语。
font-variant-ligatures: 控制文本中使用的连写和上下文形式。
font-variant-numeric: 控制数字，分式和序标的替代字形的使用。
font-variant-position: 控制位于上标或下标处，字号更小的替代字形的使用。
font-size-adjust: 独立于字体的实际大小尺寸，调整其可视大小尺寸。
font-stretch: 在给定字体的可选拉伸版本中切换。
text-underline-position: 指定下划线的排版位置，通过使用 text-decoration-line 属性的underline 值。
text-rendering: 尝试执行一些文本渲染优化。
                
文本布局样式：
text-indent: 指定文本内容的第一行前面应该留出多少的水平空间。
text-overflow: 定义如何向用户表示存在被隐藏的溢出内容。
white-space: 定义如何处理元素内部的空白和换行。
word-break: 指定是否能在单词内部换行。
direction: 定义文本的方向 (这取决于语言，并且通常最好让 HTML 来处理这部分，因为它是和文本内容相关联的。)
hyphens: 为支持的语言开启或关闭连字符。
line-break: 对东亚语言采用更强或更弱的换行规则。
text-align-last: 定义一个块或行的最后一行，恰好位于一个强制换行前时，如何对齐。
text-orientation: 定义行内文本的方向。
word-wrap: 指定浏览器是否可以在单词内换行以避免超出范围。
writing-mode: 定义文本行布局为水平还是垂直，以及后继文本流的方向。


/* 许多字体的属性也可以通过 font 的简写方式来设置 . 这些是按照以下顺序来写的： font-style, font-variant, font-weight, font-stretch, font-size, line-height, and font-family.
如果你想要使用 font 的简写形式，在所有这些属性中，只有 font-size 和 font-family 是一定要指定的。
font-size 和 line-height 属性之间必须放一个正斜杠。 */
font:
  italic normal bold normal 3em/1.5 Helvetica,
  Arial,
  sans-serif;




                
/* lists-style */
list-style-type：设置用于列表的项目符号的类型，例如无序列表的方形或圆形项目符号，或有序列表的数字、字母或罗马数字。
list-style-position：设置在每个项目开始之前，项目符号是出现在列表项内，还是出现在其外。
list-style-image：允许为项目符号使用自定义图片，而不是简单的方形或圆形。

/* use backgrounf --> list-style-type */
ul {
  padding-left: 2rem;
  list-style-type: none;
}

ul li {
  padding-left: 2rem;
  background-image: url(star.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}


/* 上述提到的三种属性可以用一个单独的简写属性 list-style 来设置。
                例如，以下 CSS：*/
ul {
  list-style-type: square;
  list-style-image: url(example.png);
  list-style-position: inside;
}
可以被如下方式代替：
ul {
  list-style: square url(example.png) inside;
}                


/* start 属性允许你从 1 以外的数字开始计数。以下示例：
 */
<ol start="4">
  <li>Toast pita, leave to cool, then slice down the edge.</li>
  <li>
    Fry the halloumi in a shallow, non-stick pan, until browned on both sides.
  </li>
  <li>Wash and chop the salad.</li>
  <li>Fill pita with salad, hummus, and fried halloumi.</li>
</ol>


/* reversed 属性将使列表反向计数。以下示例：
 */
<ol start="4" reversed>
  <li>Toast pita, leave to cool, then slice down the edge.</li>
  <li>
    Fry the halloumi in a shallow, non-stick pan, until browned on both sides.
  </li>
  <li>Wash and chop the salad.</li>
  <li>Fill pita with salad, hummus, and fried halloumi.</li>
</ol>


/* value 属性允许设置列表项指定数值，以下示例：
 */
<ol>
  <li value="2">Toast pita, leave to cool, then slice down the edge.</li>
  <li value="4">
    Fry the halloumi in a shallow, non-stick pan, until browned on both sides.
  </li>
  <li value="6">Wash and chop the salad.</li>
  <li value="8">Fill pita with salad, hummus, and fried halloumi.</li>
</ol>


/* a->condition */

当你观察默认样式的时候，你也许会注意到一些东西：

链接具有下划线。
未访问过的 (Unvisited) 的链接是蓝色的。
访问过的 (Visited) 的链接是紫色的。
悬停 (Hover) 在一个链接的时候鼠标的光标会变成一个小手的图标。
选中 (Focus) 链接的时候，链接周围会有一个轮廓，你应该可以按 tab 来选中这个页面的链接 
                
a {
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

这几个规则的顺序是有意义的，因为链接的样式是建立在另一个样式之上的，比如，第一个规则的样式也会在后面的规则中生效，
一个链接被激活 (activated) 的时候，它也是处于悬停 (hover) 状态的。如果你搞错了顺序，那么就可能不会产生正确的效果。
要记住这个顺序，你可以尝试这样帮助记忆：LoVe Fears HAte.
