/*
<ul>
        <li>项目一</li>
        <li class="special">项目二</li>
        <li>项目 <em>三</em></li>
      </ul>
*/


li.special,
span.special {
  color: orange;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

/*在 HTML 文档中设置直接出现在标题后面并且与标题具有相同层级的段落样式，
  为此需在两个选择器之间添加一个 + 号 (成为 相邻选择符)*/
h1 + p {
  font-size: 200%;
}

/*下面的 CSS 代码使得没有被访问的链接颜色变为粉色、访问过的链接变为绿色。*/
a:link {
  color: pink;
}

a:visited {
  color: green;
}

/*你可以改变链接被鼠标悬停的时候的样式，例如移除下划线，下面的代码就实现了这个功能。*/
a:hover {
  text-decoration: none;
}

/* selects any <span> that is inside a <p>, which is inside an <article>  */
article p span { ... }

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p { ... }

/*上面的代码为以下元素建立样式：在 <body> 之内，紧接在 <h1> 后面的 <p> 元素的内部，类名为 special。*/
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

/* 在像 padding 和 margin 这样的 4 值简写语法中，
   数值的应用顺序是上、右、下、左（从顶部顺时针方向）。
   也有其他的简写类型，例如 2 值简写，
   它为顶部/底部设置 padding/margin，然后是左侧/右侧 */
padding: 10px 15px 15px 5px;
/*与这四行代码是等价的：*/
padding-top: 10px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 5px;

/*这一行代码：*/
background: red url(bg-graphic.png) 10px 10px repeat-x fixed;
/*与这五行代码是等价的：*/
background-color: red;
background-image: url(bg-graphic.png);
background-position: 10px 10px;
background-repeat: repeat-x;
background-attachment: fixed;
                
